.container {
    display: flex;
    flex-direction: row;
}

h2 {
    color: white;
    text-align: center;
    justify-content: center;
}

.red {
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50px;
    margin: 10px;
}

.green {
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50px;
    margin: 10px;
}

.blue {
    height: 100px;
    width: 100px;
    background-color: blue;
    border-radius: 50px;
    margin: 10px;
}